<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->
	<bean id="ds"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/sbms_39" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<bean id="jt" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="ds" />
	</bean>

	<bean id="bookdao" class="com.cc.dao.BookDaoImpl">
		<property name="jdbcTemplate" ref="jt"></property>
	</bean>

	<bean id="bookservice" class="com.cc.service.BookServiceImpl">
		<property name="bookDao" ref="bookdao"></property>
	</bean>


</beans>